<%if(successMsg && successMsg.length){%>
<div class="row col-6 offset-3 alert alert-success alert-dismissible" role="alert">
  <%=successMsg%>
    <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
  ></button>
</div>
<%}%> <%if(failureMsg && failureMsg.length){%>
<div class="row col-6 offset-3 alert alert-danger alert-dismissible" role="alert">
  <%=failureMsg%>
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
  ></button>
</div>

<%}%>
