<style>
  
  .profile-update{
    font-size:15px;
  }
</style>
<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/listings">XYZ</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
       <!-- <%if(currUser && currUser.isAdmin){%>
         <li class="nav-item">
           <a class="nav-link active" href="/listings/create">Add a Product</a>
         </li>

       <%}%>

        <li class="nav-item">
          <a class="nav-link active" href="/listings/allProducts">Products</a>
        </li> -->

        
      </ul>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        
          <%if(!currUser){%>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/customers/signUp">Sign Up</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/customers/login">Login</a>
            </li>
          <%}%>
         <%if(currUser){%>
            <!-- <li class="nav-item">
              <a class="nav-link active" href="/customers/logout">Logout</a>
            </li> -->
            <li class="nav-item">
              <a class="nav-link active" href="/customers/<%=currUser.id%>/update"><%=currUser.username%></a>
            </li>
            <!-- <li class="nav-item">
              <a href="/customers/<%=currUser.id%>/orders" class="nav-link active">
                Orders
              </a>
            </li> -->
            <li class="nav-item">
              <a href="/customers/logout" class="nav-link active">Logout</a>
            </li>
            <li class="nav-item"></li>
          <!-- <li class="nav-item">
            
            <a href=""></a> -->
          </li>
         <%}%>
          
      </ul>
      
      
      
    </div>
    
  </div>
</nav>