<% layout('layouts/boilerplate.ejs') -%>
  <body>
    <!-- <h2>All Listings</h2>
    <br> -->
    <div class="row listings">
      <%for(let listing of allListings){%>
        <div class="card listing-card ms-5 mt-5" style="width: 18rem;">
          <a href="/listings/<%=listing._id%>/show" class="listing-link">
            <img class="card-img-top" src="https://res.cloudinary.com/ddxzqke9w/image/upload/v1704912420/szhzohjt0zhkv5l1fv7u.jpg" alt="Product Pic">
            <div class="card-body">
              <h5 class="card-title"><%=listing.name%></h5>
              <p class="card-text">
            </div>
          </a>
        </div>
      <%}%>
    </div>
  </body>


