<% layout('layouts/boilerplate.ejs') -%>
<div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-2">
  <%for(let listing of allListings){%>
    <a href="/listings/<%=listing._id%>/show" class="listing-link">
      <div class="card  listing-card">
        <%if(listing.image){%>
          <img src="<%=listing.image%>" class="card-img">
        <%}%>

        <%if(!listing.image){%>
          <img src="https://res.cloudinary.com/ddxzqke9w/image/upload/v1711967066/yqcyoqhp4l37i7fukugh.png" class="card-img">
        <%}%>
        <div class="card-img-overlay">
          <h5 class="card-title">Description: </h5>
          <p class="card-text"><%=listing.description%></p>
        </div>
        <p class="card-text"><%=listing.name%></p>
      </div>
    </a>
  <%}%>
</div>
  


