<% layout('layouts/boilerplate.ejs') -%>

  <body>
    <form action="/listings/create" method="POST">
      <label for="image" class="form-label"></label>
      <input
        type="text"
        name="listing[image]"
        id="image"
        placeholder="Enter Image URL"
        class="form-control"
      />
      <br>

      <label for="price" class="form-label"></label>
      <input
        type="number"
        name="listing[price]"
        id="price"
        placeholder="Price"
        class="form-control"
      /><br />
      <label for="description" class="form-label"></label>
      <textarea
        name="listing[description]"
        id="description"
        cols="30"
        rows="10"
        placeholder="Description"
        class="form-control"
      ></textarea
      ><br />
      <label for="name" class="form-label"></label>
      <input
        type="text"
        name="listing[name]"
        id="name"
        placeholder="Title"
        class="form-control"
      /><br />
      <button>submit</button>
    </form>
  </body>

