<%-layout("layouts/boilerplate.ejs")%>
<style>
    .continue{
        margin:auto;
    }
</style>
<body>
    <div class="row col-11 offset-1">
        <h1>Thanks for Shopping with us. Your Order is Placed!</h1>
        
        <div class="continue mt-3">
            <form action="/listings/allProducts">
                <button class="btn btn-dark">Continue Shopping</button>
            </form>
        </div>
    </div>
</body>
