<%-layout("layouts/boilerplate.ejs")%>

<div class="row mt-4">
    <h1 class="mb-3">Forgot Password</h1>
    <form action="/forgotPassword" method="POST">
        <label for="email" class="form-label">Enter your registered email id:</label>
        <input type="text" id="email" placholder="Email" name="email" class="form-control">

        <button class="btn btn-dark mt-2">
            Submit
        </button>
    </form>
</div>