<%-layout("layouts/boilerplate.ejs") %>

<div class="row mt-5 col-12 ">
    <h1>Password Reset for <%= cust.email %></h1>
    <form class="mt-3" action="/reset-password/<%=cust.id%>/<%=cust.token%>" method="POST">
        <label class="form-label"for="pass1">New Password</label>
        <br>
        <input class="form-control" id="pass1"type="password" name="pass1">
        <br>
        
        <label class="form-label" for="pass2">Confirm Password</label>
        <br>
        <input class="form-control" id="pass2"type="password" name="pass2">
        <br>
        <button class="btn btn-outline-dark mt-2">
            Submit
        </button>
    </form>
</div>
 